.checkbox-list {
}

.checkbox-list__title{
  margin-bottom: 12px;
}

.checkbox-list__list {

}

.checkbox-list__item {
}

.checkbox-list__label {
  display: flex;
}

.checkbox-list__checkbox {

    margin-right: 9px;

}

.checkbox-list__text {

}

.checkbox-list__count {
  margin-left: auto;
}