.levels-list {
  overflow: hidden;
  height: 0;
  padding: 20px 30px 0 30px;
}

.levels-list__item + .levels-list__item {
  margin-top: 20px;
}

.levels-list--hide {
  height: 0;
}

.levels-list__label {
  display: flex;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: getColor('black-light-2');
}

.levels-list__radio {
  margin-right: 10px;
}

.levels-list__name {
}

.levels-list__count {
  margin-left: auto;
  font-weight: normal;
}
