.slider-block {
  padding-top: 20px ;
}

.slider-block__title {
  margin-bottom: 12px;
}

.slider-block__line {
  margin-bottom: 31px;

}

.slider-block__slider {
  margin-bottom: 27px;
}

.slider-block__button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-block__label {

}

.slider-block__input {

}

.slider-block__span {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: getColor('black-light');
}