.checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid getColor('orange');
  border-radius: 2px;
  cursor: pointer;
  transition:
    background-color $animation-duration $animation-function,
    background-image $animation-duration $animation-function;


}
.checkbox-hidden {
  position: absolute;
}

.checkbox-hidden:checked + .checkbox {
  background-color: getColor('orange');
  background-image: url("../../../public/images/icon-checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


  border: 3px solid getColor('orange');
}
